gTTS==2.5.4
mediapipe==0.10.18
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
scikit-learn==1.5.2
sounddevice==0.5.1
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
gradio==5.6.0